[data-class='channels-right'] {
  min-width: 760px;

  .list-title {
    height: 40px;
    margin-top: 12px;
    width: fit-content;
    text-align: center;
    line-height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #f1f2f4;
  }
  .bind-wrap {
    width: fit-content;
    position: relative;
    .text {
      display: inline-block;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .icon-wrap {
      display: none;
      position: absolute;
      top: 0;
      right: -30px;
      width: 30px;
      cursor: pointer;
      &:hover {
        color: #0074d7;
      }
    }
  }
  tr:hover {
    .icon-wrap {
      display: flex;
    }
  }
}
