[data-class=header-container] {
  height: 60px;
  background-color: transparent;
  padding: 0 16px;

  .logo {
    width: auto;
    height: 24px;
  }

  .text {
    font-size: 16px;
    margin-left: 48px;
    line-height: 1.5;
    word-break: keep-all;
  }

  &.small {
    .logo {
      height: 16px;
      transition: all .3s;
    }

    .text {
      font-size: 12px;
      transition: all .3s;
      margin-left: 28px;
    }
  }
}