[data-class='user-log'] {
  width: 700px;
  max-width: 100%;
  overflow: hidden;
  height: fit-content;
  background-color: #fff;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 16px 10px 24px 10px;
  border-radius: 8px;
  .title {
    padding-left: 16px;
  }
  .log-tab {
    margin-top: 10px;
    .pdL16 {
      padding-left: 16px !important;
    }
  }
}
