[data-class='account-left'] {
  margin-right: 12px;
  margin-bottom: 12px;
  height: fit-content;
  position: sticky;
  top: -34px;
  left: 0;
  width: 480px;
  flex-shrink: 0;
  &.small {
    position: relative;
    top: 0;
    width: 100%;
  }
  .filter-wrap {
    border-radius: 6px;
    width: 100%;
    height: fit-content;
    background-color: #f2f4f6;
    margin-top: 12px;
    padding: 16px 10px;
    box-sizing: border-box;
    transition: all 0.3s;

    .input-wrap {
      height: 38px;
      .search {
        input {
          border: none;
          box-shadow: none;
          background-color: transparent;
          &:hover {
            border: none;
            box-shadow: none;
          }
        }
        .ant-input-group-addon {
          border: none;
          background-color: transparent;
        }
      }
    }

    .table-title {
      font-weight: 500;
      margin: 0px 10px 2px;
    }
  }
}
