[data-class='net-config-dialog'] {
  .group-title {
    font-size: 16px;
    color: #b2b2b2;
    margin-bottom: 10px;
  }
  .price-wrap {
    position: relative;
    .affix-text {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: #999999;
      font-size: 16px;
    }
  }
}
