.mobile-menu-darwer {
  .nav-bar {
    padding: 0;
  }
  .nav-bar li {
    list-style: none;
    margin: 10px;
  }
  .ant-drawer-close {
    margin: 0;
  }
  .ant-drawer-header-title {
    justify-content: end;
  }
  .ant-drawer-header-title .anticon svg {
    width: 20px;
    height: 20px;
    color: #282b31;
  }
  dd.active {
    color: red;
  }
}
