[data-class='numberChannelsRoute'] {
  color: black;
  .ant-select-selection-placeholder {
    color: #282b31;
  }
  .downlaoda-fail {
    color: #888;
    &:hover {
      color: #0074d7;
    }
  }
}
