[data-class='welcome'] {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  opacity: 1;
  box-sizing: border-box;
  overflow: hidden;
  transition: opacity 0.3s ease-out;
  .top-text {
    margin: 0 auto;
    width: fit-content;
    .title {
      font-size: 32px;
      line-height: 45px;
      font-weight: 500;
      .img {
        height: 32px;
        margin-right: 16px;
      }
    }
    .name {
      margin-top: 16px;
      margin-bottom: 48px;
      font-size: 20px;
      line-height: 28px;
      color: #999;
      // font-weight: 400;
    }
  }
  .btn {
    margin-top: 64px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #3d7af3;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    &:hover {
      background-color: #285ccf;
    }
    &.loading {
      pointer-events: none;
    }
  }

  .ant-form {
    .ant-form-item {
      margin-bottom: 32px;
      .ant-form-item-label {
        label {
          color: #aaa;
          font-size: 16px;
          &::before {
            display: none;
          }
        }
      }
      .ant-form-item-control-input {
        // 输入框
        input.ant-input {
          height: 48px;
          border: 1px solid #999;
          border-radius: 8px;
          box-shadow: none;
          font-size: 16px;
          background-color: transparent;
          &:hover {
            border-color: #999;
            box-shadow: none;
          }
          &:focus {
            border-color: #0074d0;
          }
          &.ant-input-status-error {
            border-color: #ff4d4f;
          }
        }
      }
    }
  }
}
