[data-class='country'] {
  .ant-select-selection-placeholder {
    color: #282b31;
  }
  .ant-table-thead th {
    padding: 14px 16px !important;
  }
  .ant-table-wrapper.theme-cell table tbody.ant-table-tbody tr > td {
    padding: 7px 16px !important;
  }
  .ant-table-wrapper.reset-table {
    .trade-0,
    .sale-0 {
      padding-left: 14px !important;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 0;
        background-color: transparent;
        transition: background-color 0.3s ease-in, height 0.3s ease-in;
      }
    }
    table {
      tbody.ant-table-tbody {
        tr:hover > td,
        tr.active > td {
          background-color: #fff !important;
        }
      }
    }

    tr:hover > td.trade-0,
    tr.active > td.trade-0,
    td.trade-0 {
      position: relative;
      background-image: linear-gradient(to right, #e7f4ff, #f7fcff);
    }
    tr:hover > td.trade-1,
    tr.active > td.trade-1,
    td.trade-1 {
      background-image: linear-gradient(to right, #f7fcff, #fff);
    }

    tr:hover > td.sale-0,
    tr.active > td.sale-0,
    td.sale-0 {
      background-image: linear-gradient(to right, #ffe7e0, #fff2ef);
    }
    tr:hover > td.sale-1,
    tr.active > td.sale-1,
    td.sale-1 {
      background-image: linear-gradient(to right, #fff2ef, #fff);
    }

    tr.active > td.trade-0,
    tr:hover > td.trade-0 {
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 4px;
        height: 100%;
        background-color: #0074d7;
      }
    }

    tr.active > td.sale-0,
    tr:hover > td.sale-0 {
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 4px;
        height: 100%;
        background-color: #ff4d4f;
      }
    }
  }
  .ant-table-wrapper:only-child .ant-table {
    margin-block: -16px !important;
    margin-inline: 106px 106px !important;
  }
  @media (max-width: 768px) {
    .ant-table-wrapper:only-child .ant-table {
      margin-inline: 0px 0px !important;
    }
  }
  .ant-table-wrapper .ant-table-thead > tr > td,
  .ant-table-wrapper .ant-table-thead > tr > th {
    background: #f7f8f9 !important;
  }
  .ant-table-cell::before {
    background-color: #00000000 !important;
  }
  .ant-table-wrapper tr.ant-table-expanded-row > td {
    background: rgba(0, 0, 0, 0);
  }
  .ant-table-wrapper.theme-cell2 table tbody.ant-table-tbody tr > td {
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #fff;
    // border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
  }
}
