.ant-table-wrapper.drawer-table {
  .paddingL12 {
    padding-left: 12px;
  }
  .paddingL10 {
    padding-left: 10px !important;
  }
  .paddingL30 {
    padding-left: 30px !important;
  }
  .paddingR10 {
    padding-right: 10px !important;
  }
  .paddingR30 {
    padding-right: 30px !important;
  }
  .paddingL50 {
    padding-left: 50px !important;
  }
  // 顶部th
  .ant-table-header table,
  .ant-table-thead {
    border-spacing: 0;

    th {
      border-bottom: none;
      background-color: #f1f2f4;
      color: #505a63;
      font-weight: 500;
      padding: 14px 2px;
      &::before {
        display: none;
      }
    }
  }
  // 默认背景色为白色
  table {
    border-spacing: 0 5px;
    tbody.ant-table-tbody {
      tr {
        &.ant-table-measure-row {
          visibility: collapse;
        }

        & > td {
          padding: 0;
          transition: background-color 0.3s, border-color 0.3s;
          background-color: #fff;
          border-top: 1px solid #f0f0f0;
          border-bottom: 1px solid #f0f0f0;
          vertical-align: top;
          input {
            color: #0074d7;
          }
          &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-left: 1px solid #f0f0f0;
          }

          &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-right: 1px solid #f0f0f0;
          }
          &.col-line {
            border-left: 1px solid #f0f0f0;
          }
          .td-content {
            height: 50px;
            display: flex;
            align-items: center;
          }

          .sub-td {
            height: 50px;
            padding-right: 10px;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            align-items: center;
            &.bg-gray {
              background-color: #f7f8f9;
            }
          }
          .ant-form-item {
            margin: 0;
          }
        }

        &:hover > td {
          background-color: #fff !important;
        }
      }
    }
  }
  .fw500 {
    font-weight: 500;
  }
  .lock {
    cursor: pointer;
    margin: 0 auto;
  }
  .ant-form-item {
    width: 100%;
  }
  .lock-row {
    color: #999;
    pointer-events: none;
    .lock {
      pointer-events: all;
    }
    .ant-btn {
      color: #999;
    }
    .ant-switch {
      .ant-switch-inner {
        background-color: #e6e6e6;
      }
    }
  }
}
