[data-class='channel'] {
  .btn-group {
    &.small {
      overflow-x: scroll;
      .btn {
        min-width: fit-content;
      }
    }
  }
  .config-wrap {
    .iconfont {
      cursor: pointer;
    }
    .config {
      cursor: not-allowed;
      color: #999;
    }
    .active {
      color: #0074d7;
      cursor: pointer;
    }
  }
  .bind-wrap {
    width: fit-content;
    position: relative;
    .text {
      display: inline-block;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .icon-wrap {
      display: none;
      position: absolute;
      top: 0;
      right: -30px;
      width: 30px;
      cursor: pointer;
      &:hover {
        color: #0074d7;
      }
    }
  }
  tr:hover {
    .icon-wrap {
      display: flex;
    }
  }
}
