[data-class='userInfo'] {
  background-color: #fafbfc;
  width: calc(100% + 20px) !important;
  position: relative;
  transform: translateX(-10px);
  min-height: 100%;
  padding: 0 10px 40px;
  box-sizing: border-box;
}
