[class-data='my-table'] {
  padding-bottom: 10px;
  .thead {
    width: 100%;
    min-height: 54px;
    background-color: #f1f2f4;
    color: #505a63;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .tr.bg-gray {
    .td {
      background-color: #f7f8f9;
      &:nth-child(1),
      &:nth-child(2) {
        background-color: transparent;
      }
    }
  }
  .tbody {
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 5px;
    .tr {
      width: 100%;
      display: flex;
      align-items: center;
      .td {
        height: 48px;
        line-height: 1;
        position: relative;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        &:nth-child(3) {
          border-left: 1px solid #f7f8f9;
        }
        .ant-form-item {
          margin-bottom: 0;
          .ant-form-item-control-input {
          }
          .ant-input {
            width: 100px;
            height: 20px;
            padding: 0;
            box-sizing: border-box;
          }
        }
        &.action-wrap {
          .btn {
            margin-right: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .th,
  .tr .td {
    flex: 1;
    padding: 12px 20px;
    box-sizing: border-box;
    &:nth-child(1) {
      padding-left: 50px;
      font-weight: 500;
      width: 120px;
    }
    &:nth-child(2) {
      min-width: 80px;
    }
    &:nth-child(3) {
      padding-left: 50px;
    }
    &:nth-child(4) {
      min-width: 160px;
    }
    &:nth-child(5) {
      min-width: 160px;
    }
    &:last-child {
      min-width: 160px;
    }
  }

  .action-btn {
    color: #0074d7;
    cursor: pointer;
    transition: color 0.3s;
    display: inline-block;
    &:hover {
      color: #006db6;
    }
  }

  .null-table {
    width: 100%;
    margin-top: 5px;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f7f8f9;
    border-radius: 4px;
    color: #d6d7d9;
  }
}
