.editChannelDetail {
  .input-wrap {
    height: 38px;
    .ant-input-affix-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
    .search {
      input {
        border: none;
        box-shadow: none;
        background-color: transparent;
        &:hover {
          border: none;
          box-shadow: none;
        }
      }
      .ant-input-group-addon {
        border: none;
        background-color: transparent;
      }
    }
  }
  .check-all-wrap {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    .checkall {
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color: #006db6;
      }
    }
  }
  .check-group {
    .dl {
      .dt {
        color: #999;
        margin-bottom: 20px;
        margin-top: 10px;
        font-weight: 500;
      }
      .dd {
        color: #333;
        .ant-checkbox-group {
          flex-wrap: wrap;
          .ant-checkbox-wrapper {
            margin: 0 8px 10px 0;
            margin-inline-start: 0;
          }
        }
      }
    }
  }
}
